<!DOCTYPE html>
<html lang="en">
    <head>
        <title>P OST 2810</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css"></li>
    </head>
    <body>
        <div class="base"></div>
        <div class="base radius"></div>
        <div class="base radius ellipse"></div>
    </body>
</html>
<script src="/reload/reload.js"></script>
