<!DOCTYPE html>
<html lang="en">
    <head>
        <title>POST 2810</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css"></li>
    </head>
    <body>
        <h1 class="main-heading">CSS Attribute Selectors</h1>
        <p>
            <span class="highlight">Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit. Vivamus sed egestas tortor, vel tincidunt dolor. Maecenas euismod auctor massa ut convallis. Nullam tempor erat eget nulla auctor modeltie. 
        </p>
        <a href="#" class="foo">Duis ut velit faucibus</a>
        <p>
            Proin orci arcu, dapibus vel faucibus in, commodo in nunc. <a href="#" class="bar">Vestibulum erat dolor laoreet</a> nec cursus non, luctus ut elit. In sed congue lectus, id ullamcorper massa.
        </p>
        <a href="#">View more in a new tab &raquo;</a>
        <form>
            <input type="email" name="email">
            <input type="submit" name="submit">
        </form>
    </body>
</html>
<script src="/reload/reload.js"></script>
