body {
	padding-top: 35px;
	font: 1.1em/1.5 sans-serif;
}
form {
	margin-top: 30px;
}

input[type="email"] {
  border: 1px dotted green;
  padding: 10px;
}

input[type="submit"] {
  border: none;
  color: white;
  background-color: blue;
  border-radius: 0;
  padding: 10px;
}
